@import "tailwindcss";
@import "poyraz-ui/preset.css";

@source "../node_modules/poyraz-ui/dist";

@layer utilities {
  @keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-50%); }
  }

  .animate-marquee {
    animation: marquee 35s linear infinite;
  }

  .pause-on-hover:hover {
    animation-play-state: paused;
  }
}
